<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <item name="key1" value="global_value" />

  <item name ="SmtpEnabled" value="true"/>
  <item name="MailSenderName" value="360053237@qq.com" />
  <item name="MailUserName" value="360053237@qq.com" />
  <item name="MailPassWord" value="mqcyqovybgiebihj" />
  <item name="MailServer" value="smtp.qq.com" />
  
</configuration>