<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <item name="Log:FlushInterval" value="5" />

  <!-- <item name="Log:Disabled:LogManagerTest2" value="true" /> -->

  <!-- <item name="Log:Disabled:LogManagerTest2-custom" value="true" /> -->

  <!-- <item name="Log:Disabled:LogManagerTest2-warning" value="true" /> -->

  <!-- <item name="Log:Disabled:LogManagerTest2-error" value="true" /> -->

</configuration>