<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <item name="100" ip="192.168.1.100" port="80" description="description" level="1" />
  <item name="101" ip="192.168.1.101" port="80" />
  <item name="102" ip="192.168.1.102" port="80" />
  
  <item name="db1" ip="192.168.1.103" port="443" />
  <item name="db2" ip="192.168.1.104" port="443" />
  <item name="db3" ip="192.168.1.105" port="443" />

  <item name="master" ip="192.168.1.103" port="443" />
  <item name="slave" ip="192.168.1.104" port="443" />
  
</configuration>
