<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <item name="SmtpEnabled" value="true"/>
  <item name="SmtpName" value="support" />
  <item name="SmtpSender" value="support@example.com" />
  
  <!--<item name="SmtpAccount" value="" />-->
  <!--<item name="SmtpPassword" value="" />-->
  <!--<item name="SmtpHost" value="smtp.example.com" />-->
  <!--<item name="SmtpPort" value="25" />-->
  <!--<item name="SmtpSSLEnabled" value="false" />-->
  <!--<item name="SmtpSenderRandomDomain" value="example.com" />-->

</configuration>