<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MqTest" type="Adf.Config.IpGroupSection,Adf"/>
  </configSections>
  <appSettings>
    <add key="Log:Path" value="D:\logs\adf\consoletest\"/>
    <add key="Log:FlushInterval" value="1"/>
    

  </appSettings>
  <MqTest>
    <add ip=".\private$\MqTest" port="0" />
  </MqTest>
</configuration>